@page "/Environment"
@using ClassLibraryProducts;
@using StarkRecycleBlazorApp.Data
@inject IPostService PostData

@inject NavigationManager NavMgr

@*07/12 did this today - Charlie*@

<div>
    <h3>Læs om vores tiltag! </h3>
</div>

@if (postsToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!postsToShow.Any())
{
    <p>
        <em>En fejl er sket med at indlæse Posts</em>
    </p>
}
else
{
   
    <table class="table">
        <thead> 
            <tr>
                <th>ID</th>
                <th>PostDate</th>
                <th>Title</th>
                <th>Description?</th>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in postsToShow)
            {
                <tr>
                    <td>@item.PostID</td>
                    <td>@item.PostDate</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.AuthorFirstname</td>
                    <td>@item.AuthorLastname</td>
                </tr>
            }
        </tbody>
    </table>

   
   
}



@code {
    private IList<Post> postsToShow;
    private IList<Post> allPosts;

    protected override async Task OnInitializedAsync()
    {
        allPosts = await PostData.GetPostsAsync();


        postsToShow = allPosts;
    }


   

   
}
