@page "/Environment"
@using ClassLibraryProducts;
@using StarkRecycleBlazorApp.Data
@inject IPostService PostData

@inject NavigationManager NavMgr



<div>
    <h1>Læs om vores tiltag! </h1>
</div>

@if (postsToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!postsToShow.Any())
{
    <p>
        <em>En fejl er sket med at indlæse Posts</em>
    </p>
}
else
{
   
  
 
            @foreach (var item in postsToShow)
            {
<br />
        <h3>@item.Title</h3>
                    <p>@item.PostDate</p>
                    
                    <p>@item.Description</p>
        <p>@item.AuthorFirstname @item.AuthorLastname</p>
                    
               
            }

 

   
   
}



@code {
    private IList<Post> postsToShow;
    private IList<Post> allPosts;

    protected override async Task OnInitializedAsync()
    {
        allPosts = await PostData.GetPostsAsync();


        postsToShow = allPosts;
    }


   

   
}
